@font-face {
    font-family: 'Golos UI';
    src: local('Golos UI Bold'), local('GolosUI-Bold'), url('fonts/golos-ui-700.woff2') format('woff2'), url('fonts/golos-ui-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}
