@font-face {
    font-family: 'Golos UI';
    src: local('Golos UI Medium'), local('GolosUI-Medium'), url('../../fonts/golos-ui-500.woff2') format('woff2'), url('../../fonts/golos-ui-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}
