@import "./config/variables";

@font-face {
    font-family: 'Golos UI';
    src: url('../../fonts/golos-ui-500-normal.woff2') format('woff2'), url('../../fonts/golos-ui-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: $font-display-golos-ui;
}
